body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfbfa;
}

header {
    background: #100c0c;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav div {
    margin-left: 20px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height:fit-content;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    background: #f4c920;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #7c3a03;
}